@import '../../style.scss';

.nav {
    background-color: var(--fail);
    color: white;
    transition: .5s all ease;
    position: sticky;
    top: 0;
    z-index: 100;
    

    .top {
        padding: 10px 10%;
        height: 40px;
        @include mobile {
            padding: 10px 5%;
        }
        .left {
            margin-right: 50px;
            h2 {
                margin: 0;
                span {
                    color: rgb(246, 183, 183);
                }
            }
        }
        
        .center {
            @include mobile {
                display: none;
            }
            .search-box {
                background-color: white;
                width: 300px;
                position: relative;
                padding-left: 10px;
                display: flex;
                border-radius: 20px;
                overflow: hidden;
                border: 1px solid rgb(232, 232, 232);

                .search-icon {
                    position: absolute;
                    top: 8px;
                }
                
                input {
                    flex: 5;
                    padding: 10px 10px;
                    border: none;
                    padding-left: 40px;
                    outline: none;
                    caret-color: var(--fail);
                    font-size: 16px;
                    color: rgb(72, 72, 72);

                }
                
                button {
                    flex: 1;
                    border: none;
                    padding: 10px 15px;
                    color: white;
                    font-size: 16px;
                    background-color: rgb(255, 174, 174);
                }
            }
        }

        .right {
            position: relative;
            background-color: inherit;
            color: inherit;
            display: flex;
            gap: 25px;
            
            @include tablet {
                display: flex;
                justify-content: center;
                flex-direction: column;
                position: absolute;
                top: 60px;
                right: 0px;
                background-color: white;
                padding: 50px;
                box-shadow: var(--box-shadow);
                transform: translateX(100%);
                transition: .5s all ease ;
                color: black;
            }

            @include mobile {
                display: flex;
                justify-content: center;
                flex-direction: row;
                position: absolute;
                top: 58px;
                right: 0px;
                left: 0;
                background-color: white;
                padding: 5px;
                box-shadow: none;
                transform: translate(-100%);
                transition: .5s all ease ;
                color: black;
                z-index: -10;
            }

            ul {
                font-weight: 200;
                gap: 20px;

                @include tablet {
                    align-items: start;
                    margin: 0;
                    padding: 0;
                    margin-bottom: 20px;
                }
    
                @include tablet {
                    display: flex;
                    flex-direction: column;
                }

                @include mobile {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 0px;
                }

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: inherit;
                    }
                }
    
                .join {
                    border: 1px solid var(--fail);
                    padding: 5px 20px;
                    border-radius: 5px;
                    color: var(--fail);
                }
            }

            .user {
                gap: 10px;
                margin-left: 20px;
                cursor: pointer;
                font-weight: 200;

                @include tablet {
                    margin: 0;
                    margin-top: 30px;
                }

                @include mobile {
                    margin-top: 0px;
                }

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                    box-shadow: var(--box-shadow);
                }
            }

            .user-list {
                position: absolute;
                top: 50px;
                right: 0px;
                background-color: white;
                border-radius: 10px;
                padding: 20px;
                z-index: 10;
                border: 1px solid rgb(228, 228, 228);
                position: flex;
                justify-content: start;
                width: 120px;
                color: rgb(159, 159, 159);
                font-weight: 200;

                @include tablet {
                    top: 170px;
                    right: 180px;
                }
                @include mobile {
                    top: 55px;
                    right: 10px;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 7px;
                    padding-inline-start: 0px;
                    margin: 0;
                    
                    li:hover {
                        color: var(--fail);
                    }

                    .nav-message {
                        position: relative;

                        span {
                            font-size: 12px;
                            color: white;
                            background-color: var(--fail);
                            border-radius: 50%;
                            padding: 1px 5px;
                            position: absolute;
                            top: -6px;
                            right: 24px;

                            @include tablet {
                                top: -5px;
                                right: -18px;
                            }
                        }
                    }
                    .nav-order {
                        position: relative;

                        span {
                            font-size: 12px;
                            color: white;
                            background-color: var(--fail);
                            border-radius: 50%;
                            padding: 1px 5px;
                            position: absolute;
                            top: -6px;
                            right: 49px;

                            @include tablet {
                                top: -5px;
                                right: -18px;
                            }
                        }
                    }
                }
            }
        }

        .active {
            transform: translate(0);
        }

        .menu {

            display: flex;
            flex-direction: column;
            display: none;
            cursor: pointer;
            margin-left: 50px;
            z-index: 100;

            @include tablet {
                display: block;
            }

            .line-one {
              background-color: white;
              width: 30px;
              height: 3px;
              opacity: 1;
              border-radius: 5px;
              transition: .3s ease;
            }
    
            .line-center {
              background-color: white;
              width: 30px;
              height: 3px;
              border-radius: 5px;
              transition: .2s ease;
              opacity: 1;
              margin-top: 4px;
            }
    
            .line-two {
              background-color: white;
              width: 30px;
              height: 3px;
              border-radius: 5px;
              transition: .3s ease;
              margin-top: 4px;
              color: white;
    
            }

            .black-color {
                background-color: black;
            }
    
            .one-animation {
              transform: rotate(45deg) translate(6px, 4px);
            }
    
            .center-animation {
              opacity: 0;
            }
    
            .two-animation {
              transform: rotate(-45deg) translate(5px, -4px);
            }
    
        }
    }
   
    .bottom {
        justify-content: space-between;
        padding: 0px 10%;
        border-top: 1px solid rgb(236, 236, 236);
        border-bottom: 1px solid rgb(236, 236, 236);
        transition: .5s all ease;
        height: 35px;
        margin: 0;

        @include mobile {
            display: none;
        }
        .option-item {
            display: flex;
            align-items: center;
            list-style: none;
            color: gray;
            height: 50px;
            font-weight: 200;
            font-size: 15px;
        }
    }
}

.active {
    background-color: white;
    color: black;
    box-shadow: var(--box-shadow);
}
