@import '../../style.scss';

.gigs {
  min-height: 100vh;
  padding: 50px 10%;

  @include mobile {
    padding: 50px 5%;
  } 

  .header {
    justify-content: space-between;
    margin-bottom: 30px;

    @include mobile {
      flex-direction: column;
    } 

    h1 {
      margin: 0;
    }

    .left {
      display: flex;
      flex-direction: column;
      gap: 10px;
 
      span {
        color: gray;
      }
      .adjustments {
        gap: 10px;

        @include mobile {
          display: none;
        } 

        span {
          color: black;
        }

        input {
          padding: 5px 10px;
          border: 1px solid rgb(197, 197, 197);
          outline: none;
          border-radius: 3px;
        }

        button {
          border: none;
          background-color: rgb(13, 184, 13);
          color: white;
          padding: 5px 10px;
          border-radius: 3px;
          cursor: pointer;
        }
      }
    }

    .right {
      display: flex;
      gap: 5px;
      align-items: center;
      position: relative;

      @include mobile {
        align-items: center;
        margin-top: 20px;
      } 
      span {
        color: rgb(180, 180, 180);
      }

      .right-options {
        flex-direction: column;
        align-items: start;
        background-color: white;
        padding: 30px;
        gap: 10px;
        box-shadow: var(--box-shadow);
        position: absolute;
        top: 30px;
        right: 0px;
        z-index: 10;
        border-radius: 5px;

        small {
          font-weight: 700;
          color: black;
          cursor: pointer;
          font-weight: 400;
        }
      }
    }
  }

  .gigs-container {
    margin-top: 30px;
    display: flex;
    gap: 40px;
    
  }
  

}