@import '../../style.scss';

.reviews {
  margin-top: 50px;
  gap: 20px;

  h2 {
    font-weight: 500;
  }
  .reviews-container {
    gap: 50px;

    @include mobile {
      gap: 20px;
    }

    .review {
      position: relative;
      gap: 15px;
      .profile-info {
        gap: 10px;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
        .specifics {
          gap: 5px;
          span {
            font-weight: 700;
            font-size: 15px;
          }
          h4 {
            margin: 0;
            font-weight: 300;
            font-size: 15px;

          }
        }
      }
      
      .delete {
        position: absolute;
        right: 0px;
        top: 0px;

        .select {
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 5px;
          position: absolute;
          right: -40px;
          width: 70px;
          height: 50px;
          padding: 10px;
          border-radius: 5px;

          button {
            border: none;
            background-color: transparent;
            cursor: pointer;
          }

          button:nth-last-child(1) {
            color: var(--fail);
          }
        }
      }
      .rate {
        gap: 5px;
        span {
          color: rgb(234, 180, 19);
        }
      }

      p{
        color: gray;
        margin: 0;
        line-height: 20px;
        font-weight: 200;

        @include mobile {
          font-size: 13px;
        }
      }

      .options {
        gap: 10px;
        .op1{
          gap: 5px;
          cursor: pointer;
        }
        .op2{
          gap: 5px;
          cursor: pointer;
        }
        
      }

      .line {
        height: 1px;
        background-color: rgb(209, 209, 209);
        margin-top: 30px;

        @include mobile {
          margin-top: 10px;
        }
      }
        
    }
  }
}